<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../assets/stylesheets/sections.css">
  <link rel="stylesheet" href="../assets/stylesheets/default.css">
  <link rel="stylesheet" href="../assets/stylesheets/fonts.css">
  <link rel="stylesheet" href="../assets/stylesheets/links.css">
  <link rel="stylesheet" href="../assets/stylesheets/text.css">
  <link rel="stylesheet" href="../assets/stylesheets/backgrounds.css">
  <link rel="shortcut icon" href="../assets/images/sangalinhaFavicon.jpg" type="image/x-icon">
  <meta charset="utf-8">
  <title>Sangalli feelings</title>
</head>
<body>
  <section class="percent100 defaultBackground">
    <section class="percent70">
      <h1 class="textCenter bigFont colorText">Como vai ser sua sexta-feira?</h1>
    </section>
    <section class="percent30">
      <a class="aZar" href="/como_vai_ser">
        <span class="textCenter normalFont colorText">
          Descobrir
        </span>
      </a>
    </section>
  </section>
</body>
</html>
